# 파이썬 개요 실습_Basics

## Indent, a brace

In [2]:
def test():
    print(1)
    print(2)
    
test()

1
2

In [3]:
a = 1
b = "abc"
c = "a"

print("a: ",type(a))
print("b: ",type(b))
print("c: ",type(c))

a:  <class 'int'>
b:  <class 'str'>
c:  <class 'str'>

## 자료형

### 수치형

In [4]:
example = 5
print(type(example), example)

example = 5.
print(type(example), example)

example = 5.23
print(type(example), example)

example = 5.23e2
print(type(example), example)

example = 5.23e-2
print(type(example), example)

example = 5j
print(type(example), example)

<class 'int'> 5
<class 'float'> 5.0
<class 'float'> 5.23
<class 'float'> 523.0
<class 'float'> 0.0523
<class 'complex'> 5j

In [5]:
print(34 + 1)
print(34.0 - 0.1)
print(300 * 30)
print(1 / 2)
print(2 // 3)
print(9 ** 0.5)
print(20 % 3)

35
33.9
9000
0.5
0
3.0
2

In [6]:
print(int(1.3))
print(int(-1.7))
print(int("5"))

print(float(5))
print(float("1.3"))

print(str(3))
print(type(str(3)))
print(str(-1.3e3))

print(round(1.3))
print(round(-1.7))
print(round(1.37, 1))

1
-1
5
5.0
1.3
3
<class 'str'>
-1300.0
1
-2
1.4

#### TypeError: 'str' object is not callable
#### 에러가 나오면 위에서 'str=~' 이라고 변수 이름을 선언한 경우 오류가 발생한다.

### 문자형

In [7]:
sentence = "I ate 3 apples. So I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\nSo I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\tSo I was sick for five days."
print(sentence)

sentence = "He said, \"I ate 3 apples. So I was sick for five days\""
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples.
So I was sick for five days.
I ate 3 apples.	So I was sick for five days.
He said, "I ate 3 apples. So I was sick for five days"

In [8]:
number = 3
day = "five"

sentence = "I ate %d apples. So I was sick for %s days." % (number, day)
print(sentence)

sentence = "I ate {} apples. So I was sick for {} days".format(number, day)
print(sentence)

sentence = "I ate %.1f apples. So I was sick for %s days" % (number, day)
print(sentence)

sentence = "\nI ate %d apples.\nSo I was sick for %s days." % (number, day)
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples. So I was sick for five days
I ate 3.0 apples. So I was sick for five days

I ate 3 apples.
So I was sick for five days.

In [9]:
dma = "Data Management"

In [10]:
dma += " and Analysis"
dma

'Data Management and Analysis'

In [11]:
dma*6

'Data Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and Analysis'

In [12]:
dma[0:3]

'Dat'

In [13]:
dma[:-3]

'Data Management and Analy'

In [14]:
dma[3] = 'd'
dma

TypeError: 'str' object does not support item assignment

In [15]:
dma.count("a")

6

In [16]:
dma.find("a")

1

In [17]:
dma.find_all("a")

AttributeError: 'str' object has no attribute 'find_all'

In [18]:
# 참고용
import re

[m.start() for m in re.finditer('a', dma)]

[1, 3, 6, 8, 16, 22]

In [19]:
dma.upper()

'DATA MANAGEMENT AND ANALYSIS'

In [20]:
dma.lower()

'data management and analysis'

In [21]:
dma.replace("Data", "Life")

'Life Management and Analysis'

In [22]:
dma.split()

['Data', 'Management', 'and', 'Analysis']

In [23]:
dma.split("a")

['D', 't', ' M', 'n', 'gement ', 'nd An', 'lysis']

In [24]:
dma.join(",")

','

In [25]:
(",").join(dma)

'D,a,t,a, ,M,a,n,a,g,e,m,e,n,t, ,a,n,d, ,A,n,a,l,y,s,i,s'

### 리스트

In [27]:
list1 = []

list2 = [1, 2, "list"]

list3 = [[1,2], "list"]

print(list2)
print(list3)

[1, 2, 'list']
[[1, 2], 'list']

In [28]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [29]:
a[0:5]

[1, 2, 3]

In [30]:
len(a)

3

In [31]:
c = [1, 2, 3, 4]

sum(c)

10

In [32]:
min(c)

1

In [33]:
max(c)

4

In [34]:
d = ["a", "b", "c", "A"]

sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
min(d)

'A'

In [36]:
max(d)

'c'

In [37]:
a = [1,2,3]

In [38]:
a.append([4,5,6])
a

[1, 2, 3, [4, 5, 6]]

In [39]:
a.insert(0, 0)
a

[0, 1, 2, 3, [4, 5, 6]]

In [40]:
a.extend([4,5,6])
a

[0, 1, 2, 3, [4, 5, 6], 4, 5, 6]

In [41]:
a.pop(0)
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [42]:
a.index([4,5,6])

3

In [43]:
a.remove([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [44]:
a.count(2)

1

In [45]:
a.sort()
a

[1, 2, 3, 4, 5, 6]

### 튜플

In [49]:
list_a = [1,2,3]
list_a[0] = 3
list_a

[3, 2, 3]

In [50]:
tuple_a = (1,2,3)
tuple_a[0]

1

In [51]:
tuple_a[0] = 3

TypeError: 'tuple' object does not support item assignment

### 집합

In [52]:
set([1,2,3,3,4,4,4])

{1, 2, 3, 4}

In [53]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set1 & set2

{3, 4}

In [54]:
set1.intersection(set2)

{3, 4}

In [55]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [56]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [57]:
set1 - set2

{1, 2}

In [58]:
set1.difference(set2)

{1, 2}

In [59]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [60]:
set1.update([5,6,7])
set1

{1, 2, 3, 4, 5, 6, 7}

In [61]:
set1.remove(4)
set1

{1, 2, 3, 5, 6, 7}

In [62]:
list(set1)

[1, 2, 3, 5, 6, 7]

### 딕셔너리

In [63]:
dic = {'a': 1, "b": 2, 3: 4}

In [64]:
dic

{'a': 1, 'b': 2, 3: 4}

In [65]:
dic['a'] = [1,2,3]
dic

{'a': [1, 2, 3], 'b': 2, 3: 4}

In [66]:
del dic['a']

In [67]:
dic

{'b': 2, 3: 4}

In [68]:
dic['c'] = 3
dic

{'b': 2, 3: 4, 'c': 3}

In [69]:
'a' in dic

False

In [70]:
'b' in dic

True

In [71]:
dic.keys()

dict_keys(['b', 3, 'c'])

In [72]:
dic.values()

dict_values([2, 4, 3])

In [73]:
dic.items()

dict_items([('b', 2), (3, 4), ('c', 3)])

### 불

In [74]:
2>1

True

In [75]:
2<1

False

In [76]:
bool(1)

True

In [77]:
bool(0)

False

In [78]:
bool('False')

True

In [79]:
bool('')

False

In [80]:
bool([])

False

In [81]:
bool([False])

True

In [82]:
True and False

False

In [83]:
True or False

True

In [84]:
not True

False

## 조건문

In [85]:
a = 10
if a > 15:
    print("a는 15보다 큽니다.")
print("==============")

==============

In [86]:
a = 10
if a > 15:
    print("a는 15보다 큽니다.")
else:
    print("a는 15보다 작습니다.")
print("==============")

a는 15보다 작습니다.
==============

In [87]:
a = 18
if a > 20:
    print("a는 20보다 큽니다.")
elif a > 18:
    print("a는 20이하 18초과입니다.")
elif a > 16:
    print("a는 18이하 16초과입니다.")
else:
    print("a는 15보다 작습니다.")
print("==============")

a는 18이하 16초과입니다.
==============

## 반복문

In [99]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [100]:
print("List")
for x in [1,2,3]:
    print(x)
    
print("Tuple")
for x in (1,2,3):
    print(x)

List
1
2
3
Tuple
1
2
3

In [101]:
list = [1, 2, 3, 4]
for i in list:
    print(i + 2)

3
4
5
6

In [102]:
d = {'a': 1, 'b': 2, 3: 4}
for key in d.keys():
    print(key)
    
for value in d.values():
    print(value)

for key, value in d.items():
    print(key, value)

a
b
3
1
2
4
a 1
b 2
3 4

In [103]:
add = 0 
for i in range(1, 11): 
    add = add + i 
add

55

In [104]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    print(marks[number])

90
25
67
45
80

In [105]:
a = [1,2,3]
for idx, x in enumerate(a):
    print(idx, x) # x = a[idx]

0 1
1 2
2 3

2
3
4
0
2
4
6
8

In [106]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [107]:
for i in range(2, 100):
    if(i > 9):
        break
    print("구구단", i, "단입니다.")
print("구구단 출력을 마칩니다.")

구구단 2 단입니다.
구구단 3 단입니다.
구구단 4 단입니다.
구구단 5 단입니다.
구구단 6 단입니다.
구구단 7 단입니다.
구구단 8 단입니다.
구구단 9 단입니다.
구구단 출력을 마칩니다.

In [108]:
for i in range(2, 10):
    if(i == 5):
        print("5단은 모르겠습니다.")
        continue
    print("구구단", i, "단입니다.")

구구단 2 단입니다.
구구단 3 단입니다.
구구단 4 단입니다.
5단은 모르겠습니다.
구구단 6 단입니다.
구구단 7 단입니다.
구구단 8 단입니다.
구구단 9 단입니다.

In [92]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
print(dan, "x 2 =", dan * 2)
print(dan, "x 3 =", dan * 3)
print(dan, "x 4 =", dan * 4)
print(dan, "x 5 =", dan * 5)
print(dan, "x 6 =", dan * 6)
print(dan, "x 7 =", dan * 7)
print(dan, "x 8 =", dan * 8)
print(dan, "x 9 =", dan * 9)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [109]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [111]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

dan = 3
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

dan = 9
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
구구단 3 단을 출력합니다.
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
구구단 9 단을 출력합니다.
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [112]:
for dan in range(2, 10):
    print("구구단", dan, "단을 출력합니다.")
    for i in range(2, 10):
        print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
구구단 3 단을 출력합니다.
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
구구단 4 단을 출력합니다.
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
구구단 5 단을 출력합니다.
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
구구단 6 단을 출력합니다.
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
구구단 7 단을 출력합니다.
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
구구단 8 단을 출력합니다.
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
구구단 9 단을 출력합니다.
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [1]:
# diy1
for i in range(1, 6):
    print("*"*i)

*
**
***
****
*****

In [ ]:
# diy 2~4 풀어보기

In [95]:
# diy 5
for i in range(5): #i가 행번호가 됨
    #공백 먼저 찍어보기 : 공백수=행번호
    print(" " * i, end="") #엔터 못치게 옵션줘
    #숫자 찍고
    for j in range(1, 6-i):
        print(j, end="")
        # if j==(5-i): #j가 5-i가 되면 엔터 한번 쳐줘
        #     print()
    #엔터를 쳐줘 - 가장 일반적
    print()

12345
 1234
  123
   12
    1

In [96]:
# diy 6
for i in range(5): #i가 행번호가 됨
    #공백 먼저 찍어보기 : 공백수=행번호
    print(" " * i, end="") #엔터 못치게 옵션줘
    #숫자 찍고
    for j in range(1, 6-i):
        print(j, end="")
        # if j==(5-i): #j가 5-i가 되면 엔터 한번 쳐줘
        #     print()

    #숫자를 4321 찍으면됨
    for j in range(4-i, 0, -1):
        print(j, end="")

    #엔터를 쳐줘 - 가장 일반적
    print()

123454321
 1234321
  12321
   121
    1

In [97]:
def printDan(dan):
    print("구구단", dan, "단을 출력합니다.")
    for i in range(2, 10):
        print(dan, "x", i, "=", dan * i)

printDan(15)

구구단 15 단을 출력합니다.
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135

In [98]:
# diy 7
def printDan(dan, i):
    print("구구단", dan, "단을 출력합니다.")
    for

### 람다 함수

In [2]:
(lambda x,y: x+y)(1,2)

3

In [3]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [4]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [5]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [6]:
list(filter(lambda x: x<3, range(5)))

[0, 1, 2]